<div id="cart-summary">
  <div class="top-cart text-center">
    <div class="row-line">
      <a class="current-cart {% if template != 'cart' %}toggle-cart-summary{% endif %}" href="/cart"><i class="icon-cart"></i></a><p class="title">Review Your Cart</p><i class="fa fa-times" aria-hidden="true"></i>                                    </div>   
    <div class="row-line">
      <p class="red">Add $75.00 For Free Shipping. </p>
    </div>   
    <div class="my-cart">
      <p class="notification">Your cart is Empty. </p>
    </div>
    <a class="btn shop" href="/">Continue Shopping</a>
  </div>
</div>