<div id="bicolorBanner" class="banner-index">
  <picture>
    <source media="(min-width: 751px)" srcset="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}">
    <source media="(min-width: 300px)" srcset="{{ 'header_banner_PoolsOpen_750.gif' | asset_url | split:"?" | first }}">
    <img src="{{ 'Header_Banner_PoolsOpen.gif' | asset_url | split:"?" | first }}" alt="Homepage banner">
  </picture>
  <div id="banner-top-text" class="hidden">
    <span>Welcome to the</span> <em>Float Life</em>
  </div>
</div>

{% include 'homepage-layout' %}