<div class="container" style="padding-top: 3rem;">
  <div class="reading-column">
    <div class="win-page-confirmation">
        {{ pages.thank-you.content }}
    </div>
    <div class="rte">
      <div style="margin-top:3rem;">
        {% include 'favorite-products' %}
      </div>
    </div>
  </div>
  <img src="https://tapjoy.go2cloud.org/SL1oJ" width="1" height="1" />
</div>